* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

.parallax {
    /* The image used */
    background-image: url("/resources/welcome.png");
  
    /* Set a height */
    height: 670px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax-upper {
    padding-bottom: 0px;
}

#parallax-lower {
    color: teal;
    padding-top: 0px;
    background-color: violet;
}

input {
    font-size: 1rem;
}

input[type="file"] {
    border: 1px solid #128ff2;
    padding: 6px;
    max-width: 100%;
}

.file-input {
    width: 100%;
}

.btnTest{
    background:url('images/icon.png') no-repeat left center;
    padding-left:20px;
} 

.submit-btn {
    display: block;
    margin-top: 14px;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .file-input {
        width: calc(100% - 115px);
    }

    .submit-btn {
        display: inline-block;
        margin-top: 0;
        margin-left: 10px;
    }
}

#container-wrap{
    width:80%;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 31px rgba(0, 0, 0, 0.27);
}

.container {
      float:left;
      width: 48%;
      height: 150%;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      margin-top: 70px;
      min-height: 550px;
      position: relative;
      padding: 20px;
}

.heading-opacity {
    float: left;
}

#viewMemesButton {
    font-family: 'Libre Franklin', sans-serif;
	border-radius: 27px;
	width: 170px;
	height: 45px;
    font-size: large;
    box-shadow: 5px 10px 14px;
    color: rgba(9, 141, 115, 1);
    position:relative;
    margin-top: 90%;
}

#right-container-wrapper {
	margin-top: 39%;
    text-align:center;
    font-family: 'Libre Franklin';
}

.submit-btn {
    font-family: 'Libre Franklin', sans-serif;
    border-radius: 27px;
	width: 170px;
	height: 45px;
    font-size: large;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.27);
    background-image: linear-gradient(#6FE1CA, #4FC1B7);
    color: white;
    position: relative;
    margin-top: 12%;
}

/*
#down-btn {

}
*/

#left-container-wrapper {
    text-align:center;
}

#left {
    background-image: url("/resources/leftPanel.png");
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#right {
    background-image: url("/resources/rightPanel.png");
    height: 100px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#right-inner-container {
    position: absolute;
    top: 200px;
}

input[type=text] {
    font-family: 'Libre Franklin', sans-serif;
    width: 90%;
    color: white;
    text-decoration-color: rgba(56, 74, 98, 1);
    background-color: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input[type=url] {
    font-family: 'Libre Franklin', sans-serif;
    width: 90%;
    color: white;
    background-color: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgba(193, 202, 212, 0.3);
}

input:focus {
    border-color: white;
}