body {
  background-image: url("/resources/viewMemesBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#viewMemes {
  width: 55%;
  height: 55%;
  margin-left: 22%;
  text-align: center;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

#welcome-heading {
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

#back-btn {
  font-family: 'Libre Franklin', sans-serif;
  float: left;
  box-shadow: none;
  border: 1px solid transparent;
  font-size: 14px;
  outline: none;
  line-height: 100%;
  white-space: nowrap;
  vertical-align: middle;
  align-content: center;
  padding: 5px 8px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  min-height: 38px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  padding-inline: 10px;
  font-family: 'Libre Franklin', sans-serif;
  background-color: #ABD8D1;
  align-content: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

#name {
  align-content:stretch;
}